.navbar {
  min-height: 60px;
  background-color: #0D4D4D;
}

.navbar-brand {
  font-size: 1.35em;
  user-select: none;
}

.navbar a {
  font-size: 1.35em;
}

.navbar img {
  max-height: 56px;
  margin-left: 4px;
  margin-right: 4px;
}