.card {
  border: 1px solid darkgray;
}
.card-header {
  text-align: center;
}
.card-body {
  padding: 18px 38px 18px 38px;
}
.card-title {
  text-align: center;
}
.card-text {
  float: right;
  line-height: 144px;
}
.font-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}